@mixin box-shadow {
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
}

@mixin media-md {
  @media screen and (max-width: 1075px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (max-width: 900px) {
    @content;
  }
}

@mixin media-xs {
  @media screen and (max-width: 700px) {
    @content;
  }
}

@mixin media-xxs {
  @media screen and (max-width: 450px) {
    @content;
  }
}
