$chatLeft: hsl(276, 55%, 52%);
$chatRight: hsl(271, 15%, 43%);
$paragraphe: hsl(270, 7%, 64%);
$bg: hsl(270, 20%, 96%);
$lightMangeta: hsl(293, 100%, 63%);
$lightViolet: hsl(264, 100%, 61%);
$paleViolet: hsl(276, 100%, 81%);
$vDViolet: hsl(271, 36%, 24%);
$text: hsl(206, 6%, 79%);
